.user-list {
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  .user-card {
    border: 1px solid #dc3131;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #6f4b9e;
    cursor: pointer;
  }
  
  .user-card h2 {
    margin: 0 0 10px;
  }
  
  .user-card p {
    margin: 5px 0;
  }
  
  .user-card a {
    color: #007bff;
    text-decoration: none;
  }
  
  .user-card a:hover {
    text-decoration: underline;
  }
  